body
{
	font-family:open sans;
	overflow-x:hidden;
	overflow-y:visible;
	
}
.contactlabel
{
     float:right;
     position:absolute;
     z-index:999;
     margin-top:1%;
     margin-left:62%;
     font-size:13px;
     font-weight:300;
     color:rgba(138, 130, 130, 0.81);
}
.mymargin
{
    margin-top:30px;
}
.settings
{
    border:1px solid rgba(153, 153, 153, 0.26);
    padding:15px;
    border-radius:2px;
    
}
.faqheader
{
    font-size: 20px;
    font-family: 'open sans';
    color: rgba(182, 185, 187, 0.97);
    padding: 21px;
    font-weight: 300;
}
.faqblockcont
{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
    margin-bottom: 10px;
    margin-top: -21px;
}
.settings:hover
{
    background-color: rgba(153, 153, 153, 0.26);
}
.butt
{
	background-color:#fff;
	border:2px solid #6FB6DA;
	height:40px;
}
.butt:hover
{
	background-color:#6FB6DA;
	color:#fff;
	
}

.container
{
	margin:0px auto;
}
.mytable
{
    width:100%;
}

.mytable>tbody>tr>td
{
    border:1px solid #f0f0f0;
    vertical-align:middle;
    padding:17px 23px;
    margin-bottom:20px;
    font-weight:300;
	word-wrap:break-word;
}

.myacc-block
{
	color:#000;
	font-size:14px;
	font-weight:300;
	line-height:1.9;
	margin:10px;
}
.myacc-block1
{
	line-height:1.9;
	margin:10px;
}
.home_leftblk
{
	MARGIN-TOP:20PX;
	width:100%;
	padding:10px 10px 10px 10px;
	font-size:15px;
	color:rgba(142, 138, 138, 0.81);
}
.home_leftblk1
{
	padding:24px 10px 0px 0px;
	font-size:14;
}
.home_leftblk2
{
	padding:0px;
	font-size:14;
	float:right;
	color:rgba(79,164,255,1);
}
.navigation-one
{
	background-color:rgba(245, 245, 245, 0.86);
	
}
.navigation-two
{
	background-color:rgba(0,0,0,0.65);
	margin-top:-20px;
}
.intro
{

	height:auto;
	padding:0px 0;
	width:100%;
	background: url(../image/intro-bg.jpg) no-repeat;
	background-size: 100% 100%;
	overflow:hidden;
	margin-top:-20px;
}
.intro .intro-body
{
	display:table-cell;
	vertical-align:middle;
}
.text-container
{
	background-color:rgba(255, 255, 255, 0.42);
	float: none;
	margin:0px auto;
	margin-top:300px;
	margin-bottom:300px;
	padding:10px;
	padding-left:-4px;
	border:0px;
	margin-left:0px;
	
}

select option {
    padding:10px;
}

.text-container-bottom
{
	background-color:rgba(238,228,218,0.78);
	float: none;
    margin-left: auto;
	margin-right: auto;
	padding-top:10px;
	margin:5px 2px 2px 2px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}
.txtbox-bottom
{
	height:45px;
	width:350px;
	background-color:rgba(0,0,0,0.65);
	color:#fff;
	border:0px;
	margin-left:5px;
	
}
.txtbox-skills
{
	height:50px;
	width:440px;
	background-color:rgba(0,0,0,0.65);
	color:#fff;
	border:0px;
	margin-left:5px;
	padding-left:7px;
}
.txtbox-location
{
	height:50px;
	width:250px;
	background-color:rgba(0,0,0,0.65);
	color:#fff;
	border:0px;
	margin-left:5px;
	padding-left:7px;
}
.mybutt
{
	background-color:rgba(82,135,231,0.8);
	height:50px;
	width:120px;
	border:0px;
	margin-left:5px;
	text-transform:uppercase;

}
.mybutt-bottom
{
	background-color:#fff;
	border:1px solid rgba(82,135,231,0.8);
	height:45px;
	width:160px;
	margin-left:5px;
}

.header-bottom-container
{
	background-color:rgba(0, 0, 0, 0.68);
	font-size:25px;
	color:#fff;
	padding:20px 5px 5px 5px;
	height:120px;
}
.bottom-text
{
  font-size:12px;
  color:#fff;
}

.sec1-right-inner
{
	float:right
}
.sec3-image
{
	height:442px;
	width:260px;
	box-shadow:1px 1px 1px 1px #000;
	padding:5px 5px 5px 5px;
}

.sec-list-finalitem
{
	border:0px solid rgba(148, 146, 146, 0.23);

}
.sec-list-item2
{
	margin-left:7px;
}
.listhead
{
	color:rgba(79,164,255,1);
	font-size:20px;
}
.sec-list-item ul
{
	list-style:none;
	font-family:roboto;
	padding:10px 10px 10px 10px;
	
}
.sec-list-item ul li
{
	list-style:none;
	padding-bottom:5px;
	
}
.sec-list-finalitem ul
{
	list-style:none;
	padding:35px 10px 80px 55px;
	
}
.sec-list-finalitem ul li
{
	list-style:none;
	padding-bottom:5px;
	font-family:'open sans';
	
}
.sec2-border
{
	border:2px solid rgba(148, 146, 146, 0.23);
	color:rgba(79,164,255,1);
	padding-left:10px;
	font-size:18px;
}
.sec1-left
{
	border:2px solid rgba(148, 146, 146, 0.23);
	width:570px;
	height:507px;
	border-radius:2px;
	margin-left:-13px;
}
.sec1-left-font
{
	font-size:18px;
	color:rgba(79,164,255,1);
}
.sec-right-font
{
	font-size:15px;
	color:rgba(79,164,255,1);
	float:right;
	
}
.sec5-bg
{
	display:table;
    opacity: 0.8;
	width:100%;
	height:auto;
	background: url(../image/index_bg.jpg) no-repeat ;
}
.final-bg
{
	display:table;
    width:100%;
	height:auto;
	padding:0px;
	background: url(../image/keyboard.jpg) no-repeat ;
	color:#fff;
	
}

footer
{
	background-color:rgba(0,0,0,0.5);
	color:#fff;
	padding:15px 10px 5px 10px;
	font-family:roboto;
	position:absolute;
	width:100%;
	margin-top:-50px;
}
.block-title
{
	padding-top:10px;
	box-shadow:1px 1px 0px 0px #000;
	color:rgba(142, 138, 138, 0.81);
	font-size:15px;
	padding:8px 9px 9px 10px;
	
}
.block
{
	background-color:#fff;
	padding:25px 15px 10px 0px;
	height:0px;
	font-size:14px;
	color:#000;
}
.slider {
  /*  position: absolute;*/
	z-index:999;
    bottom: 0;
    left: 0;
    width: 0px;
    background-color: #C00;
    width: 0px;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.slider:hover {
    /*position: absolute;*/
    z-index:999;
	bottom: 0;
    left: 0;
	background-color: #C00;
    width: 568px;
}
.nopadding {
   padding-right: 0px;
   margin-right:10px;
}
/*Job Description*/
/*.mycontainer
{
	width:997px;

}*/
.file
{
    border: 0px;
    height: 26px;
  
    color: #522A2A;
} 
.icon-img
{
    width:32px;
    height:30px;
}
.pg2-header
{
	margin-top:155px;
	background-color:#f5f5f5;
	padding:15px 15px 9px 15px;
	font-size:17px;
	font-weight:300;
	color:#7d7474;
}
.pg2-header-row2
{
	font-family:roboto;
	/*margin-right:-15px;*/
	margin-left:-13px;
	padding-top:5px;
	color:#000;
	font-size:14px;
	line-height:3.2;
    padding-left:15px;
}
.pg2-button
{
	width:150px;
	height:48px;
	background-color:#f5f5f5;
	border:0px;
	font-family:open sans;
	font-weight:500;
	font-size:16px;
	
}
.pg2-button-right
{
	width:150px;
	height:48px;
	background-color:#f5f5f5;
	padding-left:5px;
	font-family:open sans;
	font-weight:500;
	font-size:16px;
	border:0px;
	
}
.mymargin-left
{
	margin-left:-15px;
}
.mymargin-right
{
	margin-left:32px;
}
.job-describe-block
{
	width:100%;
	box-shadow:0 2px  rgba(0,0,0,0.01);
	margin-top:30px;
	border:2px solid #f6f8f9;
}
.block005 {
    box-shadow: 0 2px rgba(0,0,0,0.01);
    margin-top: 30px;
    border: 2px solid #f6f8f9;
    padding-bottom: 18px;
}

.blockheader005 {
    font-size: 15px;
    font-family: 'open sans';
    color: rgba(182, 185, 187, 0.97);
    padding: 15px;
    font-weight: 300;
}

.blockcontent005 {
    padding-left:10%;
	padding-right:10%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -21px
}
.block001
{

	box-shadow:0 2px  rgba(0,0,0,0.01);
	margin-top:30px;
	border:2px solid #f6f8f9;
	padding-bottom:18px;
	
}
.block004
{

	box-shadow:0 2px  rgba(0,0,0,0.01);
	margin-top:30px;
	border:2px solid #f6f8f9;
	padding-bottom:10px;
	
}

.block002
{
	width:100%;
	margin-top:10px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.54) 0%, rgba(246, 246, 246, 0.52) 47%, rgba(239, 239, 239, 0.33) 88%, rgba(237, 237, 237, 0.55) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.81)), color-stop(88%, rgba(239,239,239,0.65)), color-stop(100%, rgba(237,237,237,0.65)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.54) 0%, rgba(246, 246, 246, 0.52) 47%, rgba(239, 239, 239, 0.33) 88%, rgba(237, 237, 237, 0.55) 100%);
	
}
.blockheader002
{
	font-size:16px;
	font-family:'open sans';
	color:rgba(142,138,138,0.81);
	padding:15px;
	font-weight:300;
}
.blockheader004
{
	font-size:16px;
	font-family:'open sans';
	color:rgba(142,138,138,0.81);
	padding:0px;
	font-weight:300;
}

.job-describeblk-header
{
	font-size:16px;
	font-family:'open sans';
	color:rgba(142,138,138,0.81);
	padding:15px;
}
.blockheader001
{
	font-size:16px;
	font-family:'open sans';
	color:rgba(79,164,255,1);
	padding:15px;
}

.job-describeblk-content
{
	padding:3px 15px 15px 15px;
	font-size:14;
	font-weight:400;
	line-height:1.9;
	color:#000;
	font-size:14px;
	text-align:justify;
	text-indent:40px;
}
.blockcontent001
{
	padding:3px 15px 15px 15px;
	font-size:14;
	font-weight:400;
	line-height:1.9;
	font-size:14px;
	margin-bottom:10px;

}
.blockcontent004
{
	padding:-1px;
	font-size:14;
	font-weight:400;
	line-height:1.9;
	font-size:14px;
	margin-bottom:0px;

}

/* using in job category block */
.block003
{
	box-shadow:0 2px  rgba(0,0,0,0.001);
	margin-top:30px;
	border:2px solid #f6f8f9;
	padding-bottom:18px;
	margin-left:0px;
}
.block003:hover
{
	box-shadow:0px 0px 0px 0.2px rgba(79, 164, 255, 0.71);
}
.blockheader003
{
	font-size:20px;
	font-family:'open sans';
	color:rgba(79,164,255,1);
	
}
.blockcontent003
{
	padding:3px 15px 15px 15px;
	font-size:14;
	font-weight:400;
	line-height:1.9;
	color:#000;
	font-size:14px;
	font-weight:300;
}

.mypadding
{
	padding-right:15px;
}
.mypadding2
{
	padding-left:0px;
	padding-right:0px;
}


tr.spaceUnder > th
{
  padding-bottom: 1em;
}
.job-describeright-block
{
	margin-top:30px;
	box-shadow:0 2px  rgba(0,0,0,0.01);
	border:2px solid #f6f8f9;
}
.job-describerigblk-header
{
	font-family:'open sans';
	font-size:16px;
	margin:5px;
	color:rgba(109,89,89,0.59);
	padding:5px 5px 9px 89px;
	background-color:rgba(181,176,176,0.22);
}
.job-describerigsub-header
{
	font-family:'open sans';
	font-size:17px;
	color:rgba(109,89,89,0.59);
    font-weight:300;
}

.job-describerigblk-content
{
	padding:10px;
	line-height:1.8;
	text-align:justify;
	color:rgb(173, 164, 164);
}
/*login section*/
.log-mainblock
{
    
	padding:20px;
	margin-left:-16px;
}
.log-block-header
{
	margin:14px;
	font-family:'open sans';
	font-size:17px;
	font-weight:300;
	
}
.loginblk
{
    box-shadow:0 2px  rgba(0,0,0,0.01);
	border:2px solid #f6f8f9;
	margin-top:10px;
	margin-bottom:10px;
	width:650px;
	
}
.loginblk2
{
    
	margin:10px;
}

.log-text
{
	width:100%;
	height:40px;
	padding:10px;
	border:1px solid rgba(191,181,181,0.69);
	margin-left:-85px;
	margin-bottom:5px;
	margin-top:10px;
}
.select-text
{
    width:100%;
	height:40px;
    margin-left:-85px;
	margin-bottom:5px;
	margin-top:10px;
}
.log-text-phonecode
{
	width:100px;
	height:40px;
	padding:10px;
	border:1px solid rgba(191,181,181,0.69);
	margin-left:-86px;
	margin-bottom:15px;
	margin-top:10px;
}
.log-text-phone
{
	width:286px;
	height:40px;
	padding:10px;
	border:1px solid rgba(191,181,181,0.69);
	margin-left:7px;
	margin-bottom:15px;
	margin-top:10px;
}

.log-text1
{
	width:100%;
	height:40px;
	padding:10px;
	border:1px solid rgba(191,181,181,0.4);
	margin-left:30px;
	margin-bottom:2px;
	margin-top:10px;
	font-size:13px;
}
.full-text
{
	width:100%;
	height:40px;
	padding:10px;
	border:1px solid rgba(191,181,181,0.4);
    margin-bottom:2px;
	margin-top:10px;
	font-size:13px;
}


.loglabel
{
	margin-top:17px;
	text-align:right;
	font-size:13px;
	font-weight:300;
    color:rgba(138, 130, 130, 0.81);
}
.labelalign
{
    margin-left:40px;
}


label
{
	font-family:'open sans';
	font-size:14px;
	font-weight:300;
	margin-left:0px;
	padding-top:14px;
	/*padding-left:12px;*/
	text-align:right;

}
.Registerbutt
{
	border:0px;
	width:138px;
	height:45px;
	background-color:rgba(138, 135, 131, 0.12);
	
	
}
.Registerbutt:hover
{
	background-color:rgba(0, 0, 0, 0.2);
	
}
.Loginbutt
{
	border:0px;
	width:111px;
	height:37px;
	margin-left:-30px;
	background-color:rgba(138, 135, 131, 0.12);
	margin-top:10px;
}
.Loginbutt:hover
{
	background-color:rgba(0, 0, 0, 0.2);
}

.res_right_blk
{
	float:right;
	
}
.mymargintop
{
	margin-top:20px;
}

.resultbutton
{
    border:0px;
	width:138px;
	height:40px;
	background-color:rgba(138, 135, 131, 0.12);
}
.resulttext
{
	width:100%;
	height:35px;
	border:1px solid rgba(191,181,181,0.69);
	padding:8px;
}
.selectsaves
{
	
	height:35px;
	border:1px solid rgba(191,181,181,0.69);
	padding:8px;
}

.resulttext2
{
		
	width:258px;
	margin-left:7px;
}
.buttongroups
{
    margin-top:20px;
    float:right;
}
.searchbutt
{
	height:40px;
	width:90px;
	border:0px;
	background-color:rgba(51,122,183,0.58);
	color:#eee;
	text-transform:uppercase;
    margin-top:10px;
	
}
.searchbutt1
{
	height:40px;
	width:140px;
	border:0px;
	background-color:rgba(51,122,183,0.58);
	color:#eee;
	text-transform:uppercase;
    margin-top:10px;
	
}
.searchbutt4
{
	height:40px;
	width:147px;
	border:0px;
	background-color:rgba(51,122,183,0.58);
	color:#eee;
	text-transform:uppercase;
    margin-top:10px;
	
}

.searchbutt2:hover, .searchbutt2:focus, .searchbutt2:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: inset 0 0 0 20px #C72626, 0 0 1px rgba(0, 0, 0, 0);
  color:#fff;
}

.searchbutt2
{
    float:right;
    border:2px solid #C72626;
    color:grey;
    background-color:#fff;
    height:40px;width:140px;
    margin-top:30px;
    
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.res_margin_top
{
	margin-top:20px;
}

input[type=text]:focus, textarea:focus 
{
	box-shadow: 0 0 5px rgba(81, 203, 245, 10);
	
	border: 1px solid rgba(81, 203, 238, 1);
}
input[type=password]:focus, textarea:focus 
{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
@media (max-width: 600px) 
{
.intro
{
    margin-top:-20px;
				
}
}



@media (max-width: 1000px) {
.loglabel
		{
			margin-top:16px;
			text-align:left;
		}
.job-describe-block
	{
		padding:15px;
	}

	
}

/* Mobile */
@media (min-width:140px) and (max-width:800px) {
    .mob-table
    {
        display: block;
    }
    #card-table
    {
        display:none;
    }
}

@media (min-width:140px) and (max-width:400px) {
    .pg2-header
        {
            padding-left:40px;
            
        }
       


.container
		{
			margin-left:0px;
			margin-right:0px;
            width:100%;
		}	
.Loginbutt
	{
		width:100%;
		margin-left:0px;
		
	}

	
	.job-describe-block
	{
		padding:0px 25px 0px 25px;;
	}
	
	.final-bg
		{
			display:table;
			width:100%;
			height:auto;
			padding:0px;
			background: url(../image/keyboard.jpg) no-repeat ;
			color:#fff;
		}
	.resulttext
		{
			width:100%;
			height:35px;
			border:1px solid rgba(191,181,181,0.69);
			padding:8px;
			margin-bottom:10px;
		}
	.resulttext2
		{
			margin-left:0px;
			width:288px;
		}
	
	.log-text-phone
		{
			width:166px;
			
		}
	.log-text-phonecode
		{
			width:100px;
			margin-left:15px;
		}	
	.loglabel
		{
			margin-top:16px;
			text-align:left;
		}

    .log-text1
		{
			margin-left:0px;
            width:100%;
		}
		
	.log-text
		{
			margin-left:0px;
			width:100%;
		}	
        
	label
		{
			
			margin-left:0px;
			padding-top:0px;
			padding-left:0px;
			text-align:right;

		}

	.countryselect
		{
			width:100%;
			margin-left:10px;
			
		}
	.Registerbutt
		{
			border:0px;
			width:281px;
			height:45px;
			background-color:rgba(138, 135, 131, 0.12);
			margin:10px 0px 0px 11px;
			
		}
	.Registerbutt:hover
		{
			border:0px;
			width:281px;
			height:45px;
			background-color:rgba(0, 0, 0, 0.2);
			margin:10px 0px 0px 11px;
			
		}
		label
		{
				margin-left:0px;
			
		}

		

}

/* ipad */
@media (min-width:401px) and (max-width:800px) {
    .pg2-header
        {
            padding-left:40px;
            
        }

     
	.container
		{
			margin-left:0px;
			margin-right:0px;
            width:100%;
			
		}

	.job-describe-block
		{
			padding:0px 25px 0px 25px;
		}
		
	.resulttext2
		{
				
			width:258px;
			margin-left:0px;
			margin-bottom:10px;
			margin-top:10px;
		}
		
	.res_right_blk
		{
			float:NONE;
				
		}
	.final-bg
		{
			display:table;
			width:100%;
			height:auto;
			padding:0px;
			background: url(../image/keyboard.jpg) no-repeat ;
			color:#fff;
		}
		.log-text1
		{
			margin-left:0px;
			width:100%;
		}
		.log-text
		{
			margin-left:13px;
			width:100%;
		}
		.loglabel
		{
			margin-top:16px;
			text-align:left;
		}

		.log-text-phonecode
		{
			width:100px;
		}
		.log-text-phone
		{
			width:206px;
	
		}
		.log-text-phone
		{
			width:232px;
			
		}
		.log-text-phonecode
		{
			width:100px;
			margin-left:15px;
		}	
		label
	      {
		
			margin-left:0px;
			padding-top:0px;
			padding-left:0px;
			text-align:left;
	    }
	.Loginbutt
	{
		width:100%;
		margin-left:0px;
		
	}
.countryselect
	{
		width:350px;
		margin-left:10px;
		
	}
	.Registerbutt
		{
			border:0px;
			width:350px;
			height:45px;
			background-color:rgba(138, 135, 131, 0.12);
			margin-left:13px;
			
		}
	.Registerbutt:hover
		{
			border:0px;
			width:350px;
			height:45px;
			background-color:rgba(0, 0, 0, 0.2);
		
			
		}	

	

	
}

/* Avg Monitors */
@media (min-width:801px) and (max-width:1089px) {
    .mob-table{
    display:none;
    }
.pg2-header
{
	padding-left:40px;
	
}

	.container
		{
			margin-left:0px;
			margin-right:0px;
            width:100%;
		}
 .job-describe-block
	{
		padding:0px 25px 0px 25px;;
	}
	.resulttext2
	{
			
		width:258px;
		margin-left:0px;
		margin-bottom:10px;
		margin-top:10px;
	}
	.final-bg
		{
			display:table;
			width:100%;
			height:auto;
			padding:30px 0px 3px 0px;
			background: url(../image/keyboard.jpg) no-repeat ;
			color:#fff;
		}
		.log-text1
		{
			margin-left:0px;
			width:100%;
		}
		.Loginbutt
			{
				margin-left:0px;
				width:100%;
			}

		.log-text
		{
			margin-left:14px;
			width:100%;
		}
		.Registerbutt
		{
			border:0px;
			width:380px;
			height:45px;
			background-color:rgba(138, 135, 131, 0.12);
			margin-left:13px;
			
		}
	  .Registerbutt:hover
		{
			background-color:rgba(0, 0, 0, 0.2);
		
		}	

		label
		{
		
		
			padding-top:0px;
			padding-left:0px;
			text-align:right;

		}
		
	.countryselect
		{
			width:100%;
			margin-left:10px;
			
		}
  .log-text-phone
		{
			width:259px;
	
		}
   .log-text-phonecode
		{
			width:100px;
			margin-left:15px;
		}	
	
			
}
@media (min-width:1089px) and (max-width:1439px) {
 .mob-table
 {
     display: none;
 }  
    
}
/* Large Monitors */
@media (min-width:1439px) {
        .mob-table
            {
                display: none;
            }   
        
	.final-bg
		{
			display:table;
			width:100%;
			height:auto;
			padding:40px 0px 10px 0px;
			background: url(../image/keyboard.jpg) no-repeat ;
			color:#fff;
		}
	.container
		{
			width:1370px;
		}
}

.pad-left20 {
    padding-left:15px;
}

@media (max-width: 600px) {
    .pad-left20 {
        padding-left:0px;
    }
	
}
